<section class="module promo_strip">
  <h3>{{items.0.headline}}</h3>
  {{#if items.0.subhead}}<p>{{items.0.subhead}}</p>{{/if}}
  <a href="{{items.0.cta_url}}" class="btn">{{items.0.cta_text}}</a>
  {{#if items.0.legal_copy}}<p class="legal">{{items.0.legal_copy}}</p>{{/if}}
</section>
